page-login {
.scroll-content{
    background-image:url(../assets/imgs/waterfall.gif);
}
.logo{
background-color: transparent;
}
.item{
    background-color: transparent;

}
.lbl{
    color:#fff;
}

}
